doctype html
html(ng-app="psscript")
	head
		title PS脚本
		link(rel="shortcut icon" href="http://psscript.jiangx.com.cn/img/ps.png" size="32*32")
		link(rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://psscript.jiangx.com.cn/css/index.css")
		//- script(src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js")
		script(src="http://cdn.bootcss.com/angular.js/1.3.0/angular.min.js")
		script(src="http://cdn.bootcss.com/angular.js/1.3.0/angular-route.min.js")
	body
		<!-- 大幕布 -->
		.banner
			.content
				h1 让JavaScript为PS服务
				p 可以用JavaScript为PhotoShop编写脚本，让PS自动化的运行，放开设计师的双手！
			.return
				a.btn.btn-lg.btn-primary(role="button" href="http://jiangx.com.cn") 返回
		<!-- 大幕布 End -->
		<!-- 书籍导航 -->
		nav
			a(href="#")
				img(src="http://psscript.jiangx.com.cn/img/ps.png" width="32px" height="32px")
			a(href="#")
				img(src="http://psscript.jiangx.com.cn/img/ps.png" width="32px" height="32px")
			a(href="#")
				img(src="http://psscript.jiangx.com.cn/img/ps.png" width="32px" height="32px")
		<!-- 书籍导航 End -->
		<!-- 主体内容 -->
		main.container(ng-controller="content")
			.row
				//-这里是导航栏
				.col-md-3.content-nav 
					ul
						li 介绍
							ul
								li PhotoShop支持的JavaScript
									ul
										li 执行脚本
											ul
												li 安装脚本
												li 执行其他脚本
										li 启动脚本
								li 对象模型用法和命名
								li 从上个版本的改变
				<!-- 这里是Angular控制的视图 -->
				//- 这里是Angular控制的视图
				article.col-md-9(ng-view)
				//- 这里是Angular控制的视图 End
				<!-- 这里是Angular控制的视图 End -->		
		<!-- 主体内容 End -->
		<!-- 返回顶部 -->
		a#scroll-to-top(href="#") ↑
			span 回顶部
		<!-- 返回顶部 End -->
		script(src="http://psscript.jiangx.com.cn/js/index.js")